@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>Se ha identificado con exito!</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
